[2020-11-19 18:12] yebink opened #1 "[6-2장] 쿼리 실행 절차 중 2단계 "불필요한 조건의 제거 및 복잡한 연산의 단순화""
질문 : 그 중에서 **불필요한 조건의 제거 및 복잡한 연산의 단순화** 가 잘 이해가 안 되는데 예시가 있으면 좋을 것 같아요.

[2020-11-21 08:18] begaonnuri opened #2 "[6-2장] select_type 중 UNCACHEABLE UNION"
질문 : 책에선 위에서 설명한 키워드라고 생략했는데, 추가적인 설명과 예가 있으면 좋을것같아요.
예를들어 캐싱할 수 없는 조건인 사용자 변수가 들어간 UNION 테이블을 보여주거나 하면 더 좋을것같네요

[2020-11-21 18:56] pci2676 commented on #2
`UNION`은 서로다른 SELECT 의 결과가 같은 컬럼을 반환 할 때 그 결과를 합쳐서 보여주는 것을 의미해.
`UNCACHEABLE`은 말그대로 캐시 할 수 없다는 것을 의미하지. 매번 쿼리를 실행할 때 마다 값이 달라지는 경우 앞의 키워드가 붙게된다고 생각하면 될 것 같아!

아래는 예시 쿼리야. `SELECT` 하는 컬럼에 `RAND()`라는 호출 할 때 마다 결과 값이 달라지는 함수가 포함되어 있는 것을 잘 보면 될 것 같아.
### 쿼리
[code]

### 결과
![image](https://user-images.githubusercontent.com/13347548/99885048-98209500-2c75-11eb-9670-b7b890a4b8ca.png)

`RAND()` 를 사용함에 따라서

[2020-11-22 11:00] yebink commented on #1
![image](https://user-images.githubusercontent.com/19922698/99901656-7ec22c00-2cfb-11eb-8bf3-9791f59313ce.png)
이러한 쿼리에서 서브쿼리를 사용하지만 옵티마이저는 내부적으로 JOIN으로 바꿔서 처리해준다.

이는 `EXPLAIN EXTENDED [실제 쿼리]`키워드를 이용해 내부에서 수행된 쿼리를 볼 수 있다.

[code]
<br/>

하지만 `EXPLAIN EXTENDED` 요놈은 이제 deprecated된다.
공식문서에 의하면 `MySQL 8.0` 부터는 `EXPLAIN` 이후의 `SHOW WARNINGS`로 위의 정보를 볼 수 있다고 하니 참고하자.

[2020-11-22 11:51] begaonnuri commented on #1
자문자답 좋네요 👍

[2020-11-22 12:49] pci2676 opened #3 "[6-2장] index 접근 방법의 조건"
질문 : 여기서 선택 1번인 **데이터 파일을 읽지 않아도 되는 경우**라는게 정확히 무슨 의미인지 잘 모르겠다.
예시 쿼리가 생각이 나지 않는다.

[2020-11-22 12:52] lxxjn0 opened #4 "[6-2장] Nested Query의 예제"
질문 : Nested Query의 예제를 볼 수 있으면 좋겠어요 :)

[2020-11-22 12:58] yebink commented on #4
[code]

이렇게 SELECT문 안에 사용된 SELECT문을 nested query라고 합니다 🙂

[2020-11-22 13:44] pci2676 commented on #3
논 클러스터드 키의 구조로 인해 가능한 경우이다.

아래와 같은 테이블이 있을때
[code]
아래의 경우 birth_date 는 논 클러스터드 인덱스인 first_name 만으로 가져올 수 있는 정보가 아니다.
[code]
따라서 이 경우 type 이 ALL 로 나오는 것을 확인 할 수 있다.
![image](https://user-images.githubusercontent.com/13347548/99905435-10d62e80-2d14-11eb-91bd-03b28bbe9d3d.png)

하지만 논 클러스터드 인덱스인 first_name 만을 조회하는 아래의 쿼리는 인덱스만으로 결과를 출력할 수 있으므로 index 방식으로 조회를 한다.
[code]
![image](https://user-images.gi

[2020-11-23 05:21] lxxjn0 opened #5 "[6-2장] index_subquery로 접근하는 상황"
질문 : 여기서 인덱스를 이용해 중복된 값을 제거한다는 말의 의미를 잘 이해하지 못하겠어요!! 도와주세요~~~ @pci2676 @YebinK

[2020-11-23 05:41] begaonnuri opened #6 "[6-2장] 인덱스 레인지 스캔"
질문 : const, ref, range 이렇게 3가지가 묶여서 중요하게 사용 되는것 같은데(index 접근 방법의 사용 조건이 된다던지 묶여서 인덱스 레인지 스캔으로 언급된다던지) 3개만 따로 표같은걸로 명확하게 비교해주면 좋을것같아

[2020-11-23 05:49] begaonnuri opened #7 "[6-2장] index 접근 방법"
질문 :

LIMIT의 경우 MySQL에서 제일 마지막에 실행되는 걸로 알고 있는데, (join->where->having->select->order by->limit 순서)
그렇다면 스캔을 모두 한 후 LIMIT에 명시한 숫자 만큼 잘라서 가져오기 때문에 효율과 상관이 없을것같은데 여기서 말하는 효율이 뭘 말하는걸까?

[2020-11-23 07:35] yebink commented on #6
`p.291` 맨 첫 번째 줄 보면 range, const, ref는 WHERE 조건이 있어야만 사용할 수 있는 것처럼 보여.
그리고 그 이후에 PK나 UK 등등 제약조건에 따라 어떤 것일지 결정되는 것 같아.

그래도 표가 필요하신가 자네?

[2020-11-23 09:38] pci2676 commented on #7
SELECT 의 결과를 LIMIT 갯수만큼 가져오면 쿼리 실행이 끝나기 때문에 실행시간의 차이가 발생할 수 있어
예시로 확인해보자!

일단 salaries 테이블에는 280만개의 데이터가 있어
<img src="https://user-images.githubusercontent.com/13347548/99946391-a2e44280-2db9-11eb-9352-c087afc88c3f.png" width=400/>

아래의 쿼리를 먼저 실행하고 실행 시간을 확인해볼게
[code]
![image](https://user-images.githubusercontent.com/13347548/99947027-b17f2980-2dba-11eb-940e-98d55a5d2b78.png)
2.3초 정도 소요되는 걸 확인할 수

[2020-11-23 10:13] pci2676 commented on #1
[code]
아래와 같이 튜닝됨
[code]

[2020-11-23 10:13] #1 closed, assigned to yebink

[2020-11-23 10:16] #3 closed, assigned to pci2676

[2020-11-23 10:26] #2 closed, assigned to pci2676

[2020-11-23 10:28] #4 closed, assigned to yebink

[2020-11-23 10:38] jjj0611 commented on #7
이 경우에는 salaries에서 가져오는거니까 index 스캔을 할거라는 실행 계획을 세우고,
그 중에서 역순으로 불러올 거 + 10개까지 가져온다는 것을 아니까
역순으로 읽으면서 10개만 끝났을 때 끝내면 되니까 LIMIT에 걸린만큼 데이터를 가져와서 속도가 빨라질 수 있는거지!

[code]

이라고 했을 때 dept_name이 index가 걸려 있어서 스캔 시에 dept_name의 index를 역순으로 읽어주면 되는거지!

근데 여기서도 dept_name에 index가 걸려 있어서 이 LIMIT이 의미가 있는거야

@pci2676 찬인이가 올려준 저 SQL 문에서도
[code]

이게 LIMIT이 걸려 있는게 의미 있는 이유는 from_date에 index가 걸려서 그래

[code]

이 SQL 문에

[2020-11-23 10:42] yebink commented on #5
`SELECT * FROM employees WHERE emp_no IN (1, 2, 3);`
`SELECT * FROM employees WHERE emp_no IN (1, 1, 2, 2, 3, 3, 3);` -> 이런 경우에 (1, 2, 3)으로 줄일 수 있다. -> 왜 인덱스로 처리하는지는 모르겠다.

인덱스 공부하고 돌아오기!

[2020-11-23 12:21] #7 closed, assigned to pci2676, jjj0611

[2020-11-28 06:48] yebink opened #8 "[6-2장] 실행 계획 순서(driving table)을 정하는 기준"
질문 :
![image](https://user-images.githubusercontent.com/19922698/100495565-29b96680-3190-11eb-85cb-0af5be59c804.png)

위 그림에서 from 절의 순서를 바꿨음에도 실행 계획은 동일하게 나오는 것을 확인했어.

`p.267`에 보면 실행 순서는 위에서 아래로 표시되고, 위쪽에 출력된 결과가 먼저 접근한 테이블이라는 말이 있는데

**from 절의 순서**와 **먼저 접근한 테이블 순서**가 무관하다는 점이 이해가 안 가.

[2020-11-28 12:05] KimSeongGyu1 commented on #8
뇌피셜이긴 한데
1. 둘의 id가 같으면 동시 접근이라 봐도 무방하다고 생각하구
2. 실행 계획에서 테이블의 순서는 알파벳 순인듯

직접 de와 e 값을 내 맘대로 바꿔서 테스트 해본 결과 알파벳 순으로 순서가 바뀌는 것을 확인

[2020-11-28 12:17] pci2676 opened #9 "[6-2장] Index range scan vs full scan"
질문 : 인덱스 레인지 스캔이 어떻게 동작하길래 많은 레코드를 읽어야하는 상황에서 풀스캔을 선택하는 걸까?

[2020-11-28 15:41] yebink commented on #9
인덱스 레인지 스캔은 B-Tree 인덱스에서 `인덱스 루트`부터 `리프 노드`까지 수직 탐색을 하고, 필요한 범위만큼 수평 탐색을 한다고 하네.
이 경우에는 모든 row를 탐색해야 하니까 전체 B-Tree를 조회해야 할거고, 확실한 건 이 방법보다 풀 스캔이 더 빠르니까 풀 스캔으로 진행하겠지?

풀 스캔은 어떤 방식으로 진행되는지도 궁금해!

[2020-11-28 16:36] yebink opened #10 "[6-2장] Range checked for each record에서 인덱스 레인지 스캔을 하는 경우"
질문 :
[code]

[code]

책에서 말한대로 e1.emp_no가 1 이상일 때, 1억 이상일 때를 모두 조회해봤는데 둘 다 type이 `ALL`이고 `Range checked for each record (index map: 0x1)`가 출력되는 것을 확인했어.

후자일 때는 ALL이 아니라 range같은 애들이 나와야 할 것 같은데 왜 안 나오지??

[2020-11-28 18:25] pci2676 opened #11 "[6-2장] Full scan on NULL key 연산의 조건 두 가지"
질문 : 위 구문 바로 아래 두가지 조건이 있는데 해당 상황에서의 실행결과 보여주면 좋을 듯

[2020-11-28 18:30] pci2676 opened #12 "[6-2장] Full scan on NULL key 에서 풀 테이블 스캔"
질문 : 여기서 풀 테이블 스캔을 사용한다는게 정확히 무슨 의미인지 잘 와닿지가 않아. NULL을 가지고 서브 쿼리가 아닌 테이블을 풀 테이블 스캔을 한다는 건가?

[2020-11-28 18:45] yebink opened #13 "[6-2장] Using filesort에서 인덱스를 사용하는 경우"
질문 :
![image](https://user-images.githubusercontent.com/19922698/100523559-ab42e000-31f4-11eb-805a-b0aba6d71e5d.png)

인덱스를 사용해도 결과가 마찬가지네.
해당 인덱스로 정렬이 안 되어 있어서 그런가? 그럼 왜 인덱스지...

그리고 한 가지 더 궁금한 건 밑에서 3번째 줄에 `hire_date 칼럼에는`~ 이부분 `last_name`인데 오타 난 거겠지?

[2020-11-28 19:38] pci2676 opened #14 "[6-2장] 커버링 인덱스"
질문 : 커버링 인덱스는 성능향상을 위해서 엄청 중요하다고 보는데 이 부분에 대해서 조건같은것들 정리해 두면 좋을것 같아

[2020-11-29 02:54] giantim opened #15 "[6-2장] Using join buffer 적용 시 드라이빙 테이블 선정 기준"
질문 :
[code]
이 쿼리에서 두 테이블을 조인할 때 employees 테이블을 먼저 읽어서 Using join buffer가 사용되었는데 employees 테이블이 왜 dept_emp 테이블보다 먼저 읽혔는지 궁금합니다.

[2020-11-29 04:00] giantim commented on #15
#8
동일한 질문이 먼저 올라와있어서 닫겠습니다.

[2020-11-29 04:00] #15 closed, assigned to nobody

[2020-11-29 04:01] giantim commented on #8
질문 :
[code]
이 쿼리에서 두 테이블을 조인할 때 employees 테이블을 먼저 읽어서 Using join buffer가 사용되었는데 employees 테이블이 왜 dept_emp 테이블보다 먼저 읽혔는지 궁금합니다.

[2020-11-29 11:27] lxxjn0 opened #16 "[6-2장] MySQL이 내부 연산을 진행해서 ref가 func으로 표시되는 상황"
질문 :

책에서 예시로 타입이 일치하지 않는 경우에 MySQL이 내부 연산을 진행한다고 하는데 이런 예시를 간략하게나마 보여주면 좋을 것 같어여~

[2020-11-29 11:34] KimSeongGyu1 commented on #10
307p 두번째 문단에 이렇게 써있는데
`쿼리 실행 계획의 type 칼럼의 값이 ALL로 표시되어 풀 테이블 스캔으로 처리된 것으로 해석하기 쉽다. 하지만 Extra 칼럼에 "Range checked for each record"가 표시되면 type 칼럼에는 ALL로 표시된다. 즉 "index map"에 표시된 후보 인덱스를 사용할지 여부를 검토해서 이 후보 인덱스가 별로 도움이 되지 않는다면 최종적으로 풀 테이블 스캔을 사용하기 때문에 ALL로 표시된 것이다`

써져 있는 글을 보면 `Range checked for each record`일 때 무조건 ALL을 표시하는 것이 규칙인 것으로 보이구 왜 그렇게 했는지 뇌피셜을 적어보면
실제 실행해보지 않으면 ALL인지 range인지 알기 힘든 값이므로 실행계획

[2020-11-29 11:38] KimSeongGyu1 commented on #11
책에서 NULL에 대한 연산의 규칙이 무엇인지 구체적으로 보여주지 않고 있어서 우선 규칙에 대한 진리 표를 첨부
![image](https://user-images.githubusercontent.com/56247080/100540764-bc3a3280-3282-11eb-967d-635c6c570f81.png)

[2020-11-29 11:48] KimSeongGyu1 commented on #11
1. 서브 쿼리가 1건이라도 결과 레코드를 가진다면 최종 비교 결과는 NULL
(1) 실행계획에서 null 확인
![image](https://user-images.githubusercontent.com/56247080/100540960-27383900-3284-11eb-8549-042357899fd9.png)
(2) 실제 실행에도 아무것도 조회되지 않는 것 확인
![image](https://user-images.githubusercontent.com/56247080/100540973-33bc9180-3284-11eb-9507-5f9545694d2a.png)

[2020-11-29 12:04] KimSeongGyu1 commented on #11
1. 서브 쿼리가 결과 레코드를 가지는 경우 null 확인
![image](https://user-images.githubusercontent.com/56247080/100541307-6c5d6a80-3286-11eb-94cd-02c17a23185c.png)

2. 서브 쿼리가 1건도 결과 레코드를 가지지 않는 경우 0(false)를 확인
![image](https://user-images.githubusercontent.com/56247080/100541295-45069d80-3286-11eb-96be-d65f56948974.png)

[2020-11-29 12:46] KimSeongGyu1 commented on #13
https://dba.stackexchange.com/questions/109078/why-index-is-not-used-with-order-by
요기 답변을 읽어보니

The problem is that the SQL engine can only use one index per table reference.(the one for your primary key)
라고 하는데
emp_no를 사용해야지만 using filesort가 일어나지 않는 것이 맞는듯.

직접 해본 결과 emp_no에서만 using filesort가 일어나지 않음
![image](https://user-images.githubusercontent.com/56247080/100542293-49ce5000-328c-11eb-89d8-d2d

[2020-11-29 13:33] KimSeongGyu1 commented on #16
책에 나와있는 서로 다른 타입끼리의 조인과
[다른 페이지](http://jorgenloland.blogspot.com/2011/08/meaning-of-reffunc-in-mysql-explain.html)에 있는 다른 character type끼리의 조인 모두 시도해봤지만
내 나름대로 시도해봤을 때는 계속 ref에 func이 나오지 않음ㅜ
아마 버전이 올라가면서 내부적인 변환은 표시되지 않도록 되지 않았나 추측함

아래는 시도해봤던 기록들의 일부

create table test1(a INT, b VARCHAR(10));
create table test2(a INT, b VARCHAR(10));
create table test3(a INT, b BLOB);
create table test4(a BOOLEA

[2020-11-29 14:27] yebink commented on #10
굿굿 요약하자면 Range checked for each record는 실제로 어떤 스캔을 했냐와 무관하게 항상 ALL이 표시된다는 거구만! 이해했다!

그럼 실제로 어떤 스캔을 했는지 알 수 있는 방법은 없나?

-> 두 개의 실행계획에서 row가 다르다.

[2020-11-29 14:29] yebink commented on #13
흠 그럼 위에서 말하는 인덱스라는게 결국 PK만을 의미하는건가?

[2020-11-29 18:20] begaonnuri commented on #14
## 커버링 인덱스

### 사용하면 좋은 이유
데이터(테이블 스캔)를 하나도 안읽고 인덱스만 읽어서 처리할 수 있어. 그래서 성능이 빠른거지.

### 사용 조건

#### 1. 클러스터링 인덱스인 경우

먼저 클러스터링 인덱스는 PK값이 비슷한 레코드끼리 묶어서 저장하는거야.
클러스터링 인덱스의 경우 리프노드에 데이터가 있기 때문에 클러스터링 인덱스의 경우 보조 인덱스에 PK값을 저장하도록 해.
따라서 클러스터링 인덱스에서 커버링 인덱스 조건은 인덱스 컬럼, PK만을 사용하는 쿼리인 경우를 말해.
책의 예를 같이 보면,

[code]

WHERE 조건에서 first_name만을 비교하고있지? 이 경우 컬럼이 인덱싱이 되어있는 상태라서 빠르게 처리가 가능해.
하지만 다음의 경우를 보면,

[code]

S

[2020-11-29 19:02] begaonnuri commented on #12
col1이 속한 테이블을 풀 테이블 스캔하는지, 아니면 서브쿼리가 속한 테이블을 풀 테이블 스캔하는지 궁금한거라고 이해했는데,
예제에 보면 SELECT절에 서브쿼리가 있어.
[code]

SELECT절의 서브쿼리는 항상 스칼라값(컬럼 하나의 값)만 올 수 있어서 서브쿼리의 테이블이 곧 col1의 테이블이기 때문에 전체를 풀 테이블 스캔한다는 말 같아.

추가로 공식문서 설명을 덧 붙이면,

When the optimizer uses a triggered condition to create some kind of index lookup-based access (as for the first two items of the preceding list), it must have a fallback strategy

[2020-11-29 19:09] begaonnuri commented on #16
흠 나는 날짜 관련 함수가 내부적으로 값을 변경하는 처리라고 생각해서

[code]

실행해 봤는데 얘는 아예 ref에 null이 뜨더라.
![image](https://user-images.githubusercontent.com/39271364/100551061-c596bf80-32c1-11eb-9a1a-a9a7c1aec569.png)

잘 모르겠네 ㅠ

[2020-11-29 19:27] begaonnuri commented on #9
풀 테이블 스캔의 경우 다중 블록단위 I/O를 사용해서 여러개의 블록 단위로 데이터를 읽어와.
Oracle같은 DBMS는 이렇게 가져오는 수를 조절할 수 있다는데, MySQL의 MyISAM에선 불가능해.

하지만 InnoDB에선 다르게 처리하는데,
특정 테이블의 연속된 블록을 읽는 경우 백그라운드 쓰레드에서 리드 어헤드라는 작업을 해.
리드 어헤드는 말 그대로 **미리 읽는 것**이야.
앞으로 필요할 걸 예상해서 미리 디스크에서 InnoDB 버퍼 풀에 가져오는 작업을 말해.

따라서 풀 테이블 스캔을 하면 처음 몇 개의 블록은 포그라운드에서 실행하지만,
어느정도 시점이 되면 백그라운드 스레드가 리드 어헤드로 버퍼에 가져와놓고 포그라운드 스레드는 버퍼에 있는걸 사용하는 식으로 동작한다고 생각하면 돼.

간략하

[2020-11-29 19:32] begaonnuri commented on #8
이건 찾아봤는데

MySQL 각 절의 실행순서, 실행 계획에 대한 내용만 나오고 FROM 내부에서 어떤 처리가 일어나는지는 못찾겠네 ㅠㅠ
일단 Stuck 걸어놓을게.

[2020-11-29 19:44] begaonnuri commented on #6
## 인덱스 레인지 스캔(const, ref, range)

### 공통점

PK나 Unique키 칼럼을 WHERE절로 검색한 경우

### 차이점

#### 1. const

오직 1건만을 반환하는 경우.
PK가 복합키(A, B)로 이루어져있고 WHERE절에서 A, B 둘 중 하나만 사용한 경우엔 ref로 표시됨.

#### 2. ref

PK나 Unique키 칼럼을 WHERE절로 검색한 경우 중 const, range가 아닌 모든 경우

#### 3. range

 `<`, `>`, `IS NULL`, `BETWEEN`, `IN`, `LIKE`등의 연산자를 이용해 인덱스를 검색하는 경우

[2020-11-30 02:04] #6 closed, assigned to begaonnuri

[2020-11-30 02:16] #9 closed, assigned to yebink, begaonnuri

[2020-11-30 02:25] #10 closed, assigned to yebink, KimSeongGyu1

[2020-11-30 02:26] #11 closed, assigned to KimSeongGyu1

[2020-11-30 02:38] yebink commented on #13
[code]

[code]

이렇게 hire_date 또는 emp_no로 찾으면 인덱스 테이블만으로 찾을 수 있다. (데이터 파일을 접근하지 않아도 된다)
그래서 Using Index가 출력된다.

[2020-11-30 02:55] #13 closed, assigned to KimSeongGyu1

[2020-11-30 03:01] #14 closed, assigned to begaonnuri, jjj0611

[2020-11-30 03:11] yebink commented on #12
인덱스 공부해서 다시 돌아오기!

[2020-11-30 03:25] jjj0611 commented on #14
https://12bme.tistory.com/149

[2020-12-01 06:19] toneyparky opened #17 "[6-3장] innodb_read_ahead_threshold 옵션은 왜 데이터 웨어하우스용으로 MySQL을 사용할 경우 낮은 값으로 설정하는 것이 좋을까?"
질문 : innodb_read_ahead_threshold의 디폴트 설정이 무엇이고 왜 데이터 웨어하우스용으로는 디폴트보다 낮은 값으로 설정하는 것이 좋은가요?

[2020-12-01 06:35] toneyparky commented on #17
우선 `innodb_read_ahead_threshold`의 디폴트 설정은 56이라고 합니다. 즉 디폴트 설정에 따를 경우에, 순차적으로 읽어지는 `page`의 개수가 56개 이상이라면 비동기적으로 리드 어헤드를 시작하여 백그라운드 스레드에 그 페이지 수 만큼 페이지를 미리 로딩합니다. 이처럼 대량의 데이터 조회가 발생하는 경우에는 리드 어헤드를 활용하면 효과적으로 조회를 할 수 있습니다.
[참고](https://sites.google.com/site/sunnydba234234/mysql/mysqlseoljeong/server_variables/innodb_random_read_ahead)

---

그리고 **데이터 웨어하우스**에 대해서 알아보도록 하겠습니다.

정리하자면 `DW`는 기존 정보를 활용해

[2020-12-01 06:45] toneyparky opened #18 "[6-3장] OLTP 성격의 쿼리는 무엇인가요? 이와 다른 성격의 쿼리는 무엇이 있나요?"
질문 :
책에 나온 `OLTP` 성격의 쿼리가 무엇인지, 이와 다른 성격의 쿼리는 무엇이길래 대용량의 정렬 작업에 해당되는 내용이고 8MB 이상의 소트버퍼에서 성능이 향상되었는지 궁금합니다.

[2020-12-01 06:58] toneyparky commented on #18
우선 `OLTP`부터 알아보도록 하겠습니다.

`Online Transaction Processing (OLTP)` : 데이터 자체의 **처리**에 중점을 두는 관점. 복수의 사용자 PC에서 발생되는 트랜잭션을 DB서버가 처리하고, 그 결과를 요청한 사용자 PC에 되돌려주는 과정을 뜻한다. 즉 일반적인 웹애플리케이션에서 한개의 요청 작업을 처리하는 과정으로 생각하면 편하다. 조금 더 복잡하게 말하자면 1개의 트랜잭션에서 발생되는 `INSERT, UPDATE, DELETE`의 과정의 **무결성을 보장**하여 처리하고 그 결과를 `SELECT`하는 과정이다.

---

이와 다른 개념으로는 `OLAP`가 있습니다.

`Online Analytical Processing (OLAP)` : 이미 저장된 데이터를 기

[2020-12-02 14:25] yebink opened #19 "[6-3장] max_seeks_for_key는 언제 사용될까"
질문 : max_seeks_for_key가 무엇인지, 어떤 경우에 사용하는건지 (사실 사용할 일이 있는지) 궁금해요.

[2020-12-02 14:35] pci2676 opened #20 "[6-3장] 데이터 웨어하우스 용어 설명"
질문 : 데이터 웨어하우스 라는 용어가 자주 등장하는 것 같은데 용어에 대한 설명 해주면 좋을듯!

[2020-12-03 06:22] toneyparky commented on #20
#17 에 작성해둔 답변으로 대체하겠습니다😬
[관련 링크](https://github.com/gazi-gazi/real-mysql/issues/17#issuecomment-736255849)

[2020-12-03 07:33] toneyparky commented on #19
우선 말씀해주신 마지막 친구가 왜 나왔는지를 생각해보아요.

`6.3.1`절은 풀 테이블 스캔에 대해서 설명하는 절이죠. 이는 인덱스를 사용하지 않는 작업이구요.
앞선 세개의 친구는 풀 테이블 스캔에 대해서 설명하는 친구들이에요. 그런데 마지막 친구는 `반대로`라는 말로 시작하죠. 즉 저 값을 설정하면 MySQL 서버가 풀 테이블 스캔이 아니라 인덱스 스캔을 사용하도록 유도할 수 있다는 의미에요.

---

마지막 친구가 왜 나왔는지를 알아봤으니 이제 예빈케이가 궁금해하는 `max_seeks_for_key`가 무엇인지 조금 더 살펴보죠.

키를 기반으로 열을 찾을 때 검색 (seek)하는 최대 추정 숫자의 한계. MySQL 옵티마이저는, 인덱스를 스캐닝해서 테이블에서 매칭 열을 찾을 때, 인덱스의 실제 기수

[2020-12-03 09:32] pci2676 opened #21 "[6-3장] 인덱스를 이용한 정렬"
질문 : 인덱스를 이용해서 정렬이 가능한 경우랑 불가능한 경우 나눠서 정리해주면 좋을것 같아. 만약 md로 따로 정리할거면 그 md링크 걸어주면 좋을듯

[2020-12-03 09:51] yebink opened #22 "[6-3장] 네스티드 루프"
질문 :
네스티드 루프가 어떤 방식인지 설명해주세요.
아래 설명처럼 드라이빙 테이블을 먼저 정렬하는 방식을 뜻하나요?

[2020-12-03 10:57] toneyparky commented on #22
`네스티드-루프`에 대한 설명은 `FOR`나 `WHILE` 같은 반복 루프 문장을 두 개 실행하는 형태로 조인을 하는 것을 말합니다.
말 그대로 루프 문장이 중첩된 형태로 조인을 하는 것이죠.

`아우터 테이블`을 `드라이빙 테이블`이라 하고 `이너 테이블`을 `드리븐 테이블`이라고 한다고 합니다.
또한 말씀해주신 것 처럼` 아우터 테이블`을 `이너 테이블`보다 먼저 읽어야 합니다.

[code]
위의 수도 코드는 `네스티드-루프`로 처리되는 `INNER JOIN`의 내부 동작을 나타낸 것입니다.

더 자세한 설명은 책을 더 읽다보면 `p.359`에 관련 내용이 나옵니다.
책에서는 `MySQL`은 `네스티드-루프` 방식만으로 조인을 진행한다고 설명하네요🙂

[2020-12-04 02:35] giantim opened #23 "[6-3장] 루스 인덱스 스캔의 최적화"
질문 : 책에서 설명하는 버전이 너무 구버전이랑 지금 우리가 도커로 사용하는 5.7 버전이나 그 이상의 버전에서는 루스 인덱스 스캔이 최적화가 되어 있는지 궁금하네요 :)

[2020-12-04 04:08] giantim commented on #8
여기에 나와있는
[code]
의 쿼리의 실행 계획을 확인해보면 dept_emp 테이블이 드라이빙 테이블로 설정되네요!
위에 적은 쿼리와 조건이 비슷해 보이는데 반환하는 결과값에 큰 차이가 있어서 옵티마이저에 의해 더 효율적으로 검색을 수행할 수 있는 테이블을 기준으로 드라이빙 테이블이 설정되는것 같습니다.

[2020-12-05 17:20] yebink opened #24 "[6-3장] 정렬의 처리방식"
질문 :
tb_test2가 드라이빙 테이블인 경우에서 **읽어야 할 건수** 부분이 이해가 안 가요.
참고할만한 설명을 붙여주면 좋을 것 같아요.

[2020-12-06 02:56] giantim commented on #24
t1 레코드: 100건
t2 레코드: 1000건
t1 레코드 1건당 t2 10건씩 존재

**인덱스 사용**
이미 인덱스로 정렬이 되어 있으므로 정렬해야 할 대상 0건 -> t2 레코드 1건당 조인 한 번씩 10번을 해야 함 -> 조인 횟수 10번 -> 즉 t2 레코드 1건당 t1 레코드 1건씩 읽어야 해서 각각 10건씩 읽는다.

**드라이빙 테이블만 정렬**
t2를 정렬해야 하므로 t2의 1000건 레코드를 t1과 조인하지 않고 모두 정렬한다. 그 후에 t2 레코드 10건에 대하여 조인한 t1 10건만 읽으면 된다.

**임시 테이블을 사용한 후 정렬**
주어진 쿼리문은 드리븐 테이블(t1)의 컬럼을 정렬 조건으로 사용하므로 임시 테이블을 사용해서 정렬할 것이다. 임시 테이블을 사용한 후 정렬하려면 조인

[2020-12-06 12:22] jjj0611 commented on #17
간단 요약

innodb_read_ahead_threshold의 역할: 읽을 데이터가 많을 때 백그라운드에서 미리 데이터를 읽어서 준비 시켜 놓는 것이 read_ahead. 이 threshold는 그 read ahead를 언제 작동시킬 것인가에 대한 임계점.

즉, 이 값이 낮으면 read ahead를 더 빨리 시작하게 된다.

데이터 웨어하우스로 사용할 경우 대량의 데이터를 읽어올 가능성이 많고, 그렇기 때문에 read ahead를 시작하는 임계점을 낮춰서 빠르게 read ahead를 시작하는 것이 유리하기 때문에 낮은 값으로 설정하는 것이 좋음!

[2020-12-06 12:23] jjj0611 commented on #22
p. 359부터 네스티드 루프에 대한 설명이 나오는데
그것까지 안 읽으신거군요!

[2020-12-06 12:32] jjj0611 commented on #24
라빈 설명 굿~

인덱스 사용 -> 인덱스만으로 정렬한다.
드라이빙 테이블만 정렬 -> 드라이빙 테이블로만 정렬
임시 테이블 사용한 후 정렬 -> 조인해서 만들어진 임시테이블에서 정렬

인덱스로만 정렬시
test2 테이블의 인덱스를 사용해서 LIMIT 10건만 읽으면 됨(읽어야 할 건수 10)
test1 테이블은 test2에서 읽어진 10개에 대해서 join하기 위한 10건만 읽으면 됨(읽어야할 건수 10)

드라이빙 테이블만 정렬
test2 테이블에서 인덱스를 사용하지 않고 정렬해야 하므로 1000건을 다 읽어서 정렬해야함(읽어야 할 건수 1000) 그 중 10개 뽑음
test1테이블에서는 test2에서 뽑아진 10개에 대해 조인만 하면 되므로 10개만 읽으면 됨.

임시 테이블 사용
test2와 test

[2020-12-06 13:02] yebink commented on #22
@jjj0611 그러니까 말입니다! 방금 읽었네요

고마워요 @toneyparky !! 설명이 이해가 쏙 쏙 되었어요~

[2020-12-06 16:18] yebink commented on #19
우와 자세한 답변 감사합니다 토니 😉

이 부분이 좀 모호해요! 그럼 카디널리티 정보는 옵티마이저가 쿼리 실행을 인덱스 스캔으로 할지 풀 스캔으로 할지 결정할 때 필요한 변수인건가요?

<br/>

그리고 토니가 찾아준 `unsigned long long` 값! mysql에서는 `BIGINT`라고 부르는데, mysql에서 취급할 수 있는 가장 높은 숫자라고 하네요. [참고](https://dev.mysql.com/doc/refman/8.0/en/integer-types.html)
숫자를 1만 높여서 `SET max_seeks_for_key=18446744073709551616;`으로 설정하면 에러가 나요.

왜 가장 높은 숫자를 설정해두었는지는 저도 모르겠습니다!

[2020-12-06 16:32] yebink commented on #24
둘다 설명 굿굿!
내가 헷갈린 부분이 쿼리에서 `ORDER BY t1.col2`인데 그럼
t2가 드라이빙이면서 인덱스를 사용할 경우에는 쿼리가 `ORDER BY t2.col2`이고 col2는 인덱스 컬럼이라고 봐야 하는거야?

[2020-12-06 18:14] jjj0611 commented on #23
이 부분에 대해서 이것저것 좀 찾아봤는데, 딱히 이것을 최적화 했다는 이야기는 별로 없었네요.
그래서 MySQL 8.0 version [레퍼런스](https://dev.mysql.com/doc/refman/8.0/en/group-by-optimization.html#loose-index-scan)를 조금 찾아봤어요.

일단 질문 중 인용구에서 루스 인덱스 스캔은 인덱스의 첫 번째 칼럼이 WHERE 조건이나 GROUP BY에 사용되지 않아도 B-Tree 인덱스를 사용할 수 있는 방식이다. 오라클과 같은 DBMS에서는 옵티마이저가 인덱스의 첫번째 칼럼에 대한 조건을 마음대로 만들어서 추가하는 형태로 기능이 구현되어 있다. 근데 MySQL에서는 안된다.

p.349 위에서 인덱스 구성 칼럼이 왼쪽부터 일치하지 않

[2020-12-06 18:15] jjj0611 commented on #21
질문 🙅‍♂️ 요청 🙆‍♂️

정리 올리는 부분에 이거에 대한 부분 같이 정리해놨어~
곧 올릴게~

[2020-12-06 18:44] jjj0611 commented on #24
오 맞지 맞지
내 생각엔 저 쿼리 하나로 6가지 경우의 수를 다 커버하는게 아니라 6가지 경우의 수를 설명하기 위한 샘플로서 주어진 쿼리인 것 같아. 여기서는 6가지 경우의 수가 각각 어떤 쿼리냐보다 어떤 상황이냐가 중요한거니 쿼리는 하나만 보여주고 상황에 대한 설명만 한 것으로 생각 돼!

[2020-12-06 19:04] jjj0611 commented on #19
max_seeks_for_key라는 변수는 key를 최대 몇 건만 읽으면 된다고 판단하게 만들어주는 변수지? 즉 이걸 1000으로 설정한다는 것은 어떠한 key 스캔도 1000건 이상 안 발생할거야! 라고 알려주는 변수인거지. 그럼 이게 제일 높은 값이라고 생각해봐. 풀 테이블 스캔을 하는 상황 중 하나는 옵티마이저가 읽어야할 로우가 많다고 판단하는 경우라고 했잖아. 이 값이 높으면 그만큼 키가 있을 수 있기 때문에 풀 테이블 스캔으로 넘어가지. 근데 이 값을 낮게 설정하면 이걸 속일 수 있겠지. 야 이거 키 스캔하면 아무리 많아도 100건 밖에 안나와! 그러면 스캔 건수가 작기 때문에 풀 테이블 스캔을 하지 않고 인덱스 스캔을 하게 되겠지. 나는 이걸 낮게 설정하는게 그런 의미라고 생각해. 그래서 토니가

[2020-12-07 11:03] yebink commented on #24
아 굿굿 이해 너무 잘됨 👍

[2020-12-07 11:23] #24 closed, assigned to nobody

[2020-12-07 11:23] #20 closed, assigned to nobody

[2020-12-07 11:23] #18 closed, assigned to nobody

[2020-12-07 11:23] #23 closed, assigned to nobody

[2020-12-07 11:23] #22 closed, assigned to nobody

[2020-12-07 11:24] #21 closed, assigned to nobody

[2020-12-07 11:59] jjj0611 commented on #17
윤서가 SRE가면 1로 했을 때 무슨 문제가 발생할지 알아보자!

[2020-12-07 12:48] lxxjn0 opened #25 "[6-3장] only_full_group_by 옵션이 하는 역할"
질문 : 해당 쿼리를 실행하면

![image](https://user-images.githubusercontent.com/48052622/101352543-a7d6e500-38d5-11eb-829f-799f90475a22.png)

이러한 exception이 뜹니다.

해당 exception이 왜 발생하는지, 해당 exception에서 보여지는 `sql_mode=only_full_group_by`는 무엇을 의미하는지 궁금합니다!

[2020-12-07 13:24] lxxjn0 commented on #25
### `only_full_group_by`에 대하여

먼저 발생한 예외에 대해 살펴보도록 하겠습니다.

위 예외는 `group by` 절에 포함되지 않은 칼럼(집계되지 않은 칼럼, nonaggregated column)을 `select` 절에서 뽑아올 경우, exception 이 발생하는 현상입니다.

[code]

이 쿼리의 경우 `last_name`이란 컬럼으로 `group_by`를 하는데 `select` 절에서는 모든 컬럼을 조회하고 있습니다. `group by` 절의 `last_name` 컬럼에 대한 row가 각각 1개씩만 조회되어야 하는데, `select` 절에서 모든 컬럼을 조회하면 `last_name` 컬럼이 동일한 1개 이상의 row가 조회될 수 있습니다.

Oracle의 경우 해당 쿼리를

[2020-12-11 17:52] begaonnuri opened #26 "[5-2장] 전문 검색에 사용되는 인덱스"
질문 : 실행 계획에서 전문 검색 역시 인덱스를 사용한다고 학습했는데, 이 경우엔 B-Tree 말고 어떤 인덱스를 사용하는걸까?!
그리고 Hash 인덱스를 제외하면 값의 부분 일치 검색이 가능해서 텍스트 검색도 가능할텐데 B-Tree를 사용하지 않은 이유는 무엇일까?

[2020-12-12 05:24] jnsorn opened #27 "[5-1장] 바이너리 로그 버퍼와 InnoDB 로그 버퍼가 입출력 작업에 끼치는 영향"
질문 : `바이너리 로그 버퍼`나 `InnoDB 로그 버퍼`로 읽고 쓰는 작업의 빈도를 어떻게 줄일 수 있는지 궁금해요~~

[2020-12-12 13:37] jjj0611 commented on #26
전문 검색 인덱스는 p.244에 나와서 그 부분을 보게 되면 좋을 것 같고,
B-Tree 같은 경우에는 값의 부분 일치 검색이 가능은 하지만, 컬럼의 왼쪽부터 일치해야하기 때문에 적절하지 않은 것 같아.
예를 들어 '터틀'이라는 키워드가 들어간 문서를 찾는데, B-Tree를 사용할 경우 '터틀'로 시작하는 것만 찾을 수 있으니까!

[2020-12-12 13:46] jjj0611 opened #28 "[5.3.2장] B-Tree 인덱스 키 추가 및 삭제(인덱스 키 추가)"
질문 : 위 부분을 보면 두 개 모두 버퍼링해서 지연처리 해줄 수 있는 것 같은데, 아래 내용에는 뭔가 둘 중 하나를 선택해야하는 것처럼 나와 있는 것 같아요~ 아마 둘 다 한 번에 처리 가능할거 같아서 "innodb_change_buffering"에 어떤 값들을 넣어주냐에 따라 선택 가능한 것으로 보여지는데 "innodb_change_buffering" 설정하는 거 보여주면 좋을 것 같아요~ 그리고 이게 실제로 작동하는 것까지 볼 수 있으면 너무 좋을듯?(어렵겠지만...)

[2020-12-12 13:55] jjj0611 opened #29 "[5.3.2장] B-Tree 인덱스 키 추가 및 삭제 (인덱스 검색)"
질문 : `p.213` 하단부를 보면 InnoDB 테이블에서 지원하는 레코드 잠금이나 넥스트 키 락(갭 락)이 검색을 수행한 인덱스를 잠근 후 테이블의 레코드를 잠그는 방식으로 구현돼 있다고 하면서 해당 내용이 나오기 시작했는데, 여기서 불필요하게 많은 레코드를 잠근다는 것이 왜 나온걸까? 인덱스를 잠근다 -> 레코드를 잠근다. 언제? 테이블에 적절히 사용할 인덱스가 없을 때. 즉, `DELETE FROM test_db WHERE name='스티치';`이런 쿼리문에서 name에 index가 안 걸려 있는 경우밖에 생각이 안드는데, 그럼 이 경우에는 인덱스를 잠그고 -> 레코드를 잠근다가
1) 테이블 풀 스캔을 해서 name이 스티치인 것을 찾아서 잠그고 삭제한다.
2) 적절한 인덱스로 잠글 수 없으므로 te

[2020-12-12 14:06] jjj0611 commented on #19
`p.218`에서 보면 인덱스를 통해 레코드 1건을 읽는 것이 테이블에서 직접 레코드 1건을 읽는 것보다 4~5배 정도 더 비용이 많이 드는 작업인 것으로 예측하기 때문에 읽어야할 레코드 건수가 전체 테이블 레코드의 20~25% 이상이면 직접 읽는 것이 더 효율적이라고 했어.

그렇기 때문에 저 값이 높았던 것이 아닐까 싶어. 만약 max_seeks_for_key라는 변수를 1000으로 놓는다면, 40000건인 테이블에서 10000건의 로우를 읽어야 할 때 풀 테이블 스캔을 해야할텐데, 옵티마이저에게 key 스캔이 1000건을 넘지 않을거야! 라고 말하므로써 "어 그럼 인덱스로 읽어도 되겠다"라고 생각을 하면서 인덱스로 읽도록 만드는거라고 좀 더 정리가 된 것 같아. 저 변수 때문에 아무리 많아도 key를

[2020-12-12 14:13] jjj0611 opened #30 "[5.4장] 해시(Hash) 인덱스"
요청 : 1) 해시 인덱스가 주로 사용되는 메모리 기반의 테이블이 어던 것들이 있는지 감이 안오는데 이 부분을 찾아줄 수 있을까? 또 바로 위에 InnoDB의 버퍼 풀에서 빠른 레코드 검색을 위한 어댑티브 해시 인덱스로 사용되기도 하고, 오라클과 같은 DBMS에서 조인에 사용되기도 한다는데, 2) InnoDB의 버퍼 풀에서 사용된다는 것이 어떤 의미 인지, 그리고 오라클에서는 조인에 사용된다고 하는데 MySQL에서는 사용되지 않는지? 오라클에서 조인에 어떻게 활용되는지 설명이 있으면 좋을 것 같아! 마지막으로 3) `p.235`에서 InnoDB 스토리지 엔진에서는 해시 인덱스를 지원하지 않지만, 인위적으로 해시 함수를 만들어 해시 인덱스처럼 사용해야 하는 경우가 있다고 했는데 주로 어떨 때 사용할까?

[2020-12-13 02:34] giantim commented on #27
[InnoDB 로그 버퍼에 대해서 참고하면 좋은 글인거 같아서 남겨요!](https://ssup2.github.io/theory_analysis/MySQL_Buffer_Pool_Redo_Log_Log_Buffer/)

InnoDB의 로그 버퍼는 JPA의 영속성 컨텍스트에서 쓰기 지연 저장소와 비슷한 역할로써 디스크와의 I/O를 줄인다고 이해하면 되지 않을까요?

[2020-12-13 10:36] lxxjn0 commented on #26
전문 검색에 대해 간략하게 설명하면 전문 검색은 전문적인 검색이 아니라 전체 문장을 검색한다는 Full Text search였어!

`p.244` 에 간단하게 설명된 바로는 B-Tree 인덱스의 경우 스토리지 엔진에 따라 최대 1000바이트까지만 잘라서 인덱스로 사용하는데, 이때 컬럼 좌측부터 잘리게 되서 전체 문장을 검색하는 것에는 무리가 있는 것 같아.

또 내 생각일 수 있지만 전체 문장을 인덱스로 사용한다면 키 값의 크기가 매우 커질거야(전체 문장이 키 값이 되니까?). 그런데 B-Tree 인덱스는 키 값이 커지면 트리의 깊이가 깊어지게 되고 이는 검색을 할 때 성능상의 손해를 가져오게 돼. 그래서 전문 검색의 경우 B-Tree 인덱스를 안쓰는게 아닐까?나?

[2020-12-13 10:56] lxxjn0 commented on #27
[MySQL Redo Log 란](https://dus815.tistory.com/179)

라빈이 너무 간략하게 잘 설명해줘서 저는 또 참고하면 좋을 만한 링크를 추가해둘게요.

InnoDB log buffer를 검색하면 대부분 redo log buffer가 나오더라고요. 그래서 그냥 자주 등장하니까 간단하게 설명드리면, 라빈이 설명한 것 처럼 DB에서는 버퍼 풀을 두고 DB에 작업이 생기면 메모리에 위치한 버퍼 풀에 저장해두다가 한 번에 DB로 flush 한다고 해요.

그런데 혹시나 버퍼 풀에 저장해야 할 데이터가 들어있는데 시스템이 다운되면? 해당 데이터가 다 날라가게 됩니다. 이러한 위험성을 대비하기 위한 것이 redo log입니다. 하나의 트랜잭션에서 작업한 내역을 로그로 저장해두고 추후 데이터가

[2020-12-13 13:19] lxxjn0 commented on #28
먼저 변경 버퍼(change buffer)에 대해 이야기하고 시작할게요(제가 이 부분이 이해가 잘 안갔거든요...)

![image](https://user-images.githubusercontent.com/48052622/102012155-08f63100-3d8c-11eb-9678-f2552652aca0.png)

innoDB에서는 테이블 및 인덱스 데이터를 캐싱하는 버퍼 풀이 있습니다. 자주 사용하는 데이터를 메모리에 올려두면 빠른 속도로 이용할 수 있기 때문입니다. 그런데 만약 새로운 인덱스의 변경 사항이 생겼는데, 이를 적용할 페이지가 버퍼 풀에 없다면 어떻게 해야 할까요? 새로운 페이지를 버퍼 풀로 가져와서 변경된 인덱스를 적용해야 할 것입니다. 이는 I/O 작업이 발생하기 때문에 성능상에 손해가

[2020-12-13 15:02] lxxjn0 commented on #29
먼저 형의 추측은 정답~~~ 💯

`p.181`에 인덱스와 잠금을 보면 보다 자세하게 설명이 돼있어!

InnoDB는 변경해야 할 레코드를 찾기 위해 검색한 인덱스의 레코드를 모두 잠궈버려. 즉, 검색할 대상이 된 모든 레코드는 잠겨버리는거지! 먼저 책에 있는 예시를 통해 간단히 설명하도록 하겠습니다~

`employees` 테이블은 `first_name` 칼럼을 인덱스로 가지고 있고 `last_name`은 인덱스로 가지고 있지 않아.

![image](https://user-images.githubusercontent.com/48052622/102014377-f3d3cf00-3d98-11eb-85c6-727e8150d8ae.png)

![image](https://user-images.githubuserc

[2020-12-14 08:02] giantim commented on #29
동일하게 ```employees``` 테이블로 실험해보겠습니다.

[code]
위의 쿼리를 실행해서 ```first_name, hire_date```로 생성되었던 인덱스를 모두 삭제하겠습니다.

[code]
먼저 위의 쿼리를 실행해보면 ```first_name = 'Georgi'```인 데이터는 253건임을 알 수 있습니다.

하나의 세션에서는 ```first_name = 'Georgi'```인 데이터를 삭제하고 다른 세션에서는 ```first_name <> 'Georgi'(<> == !=)```인 데이터를 삭제해 보겠습니다.

- 첫 번째 세션
[code]

- 두 번째 세션
[code]

두 쿼리를 실행한 후 트랜잭션의 블락 상황에 대해 살펴보겠습니다. 스티치가 설명한 락 정보에 대한 실행 쿼리는 아래와

[2020-12-14 08:59] giantim commented on #30
[오라클에서 사용하는 해시 조인에 대해서 저도 궁금해서 아주아주 간단하게만 찾아봤습니다.](http://ojc.asia/bbs/board.php?bo_table=LecHINT&wr_id=127)
오라클에서 해시 조건을 사용하는 조건을 간단하게만 적으면

1. 조인 컬럼에 적당한 인덱스가 없어 NL조인이 비효율적일때
2. 조인 컬럼에 인덱스가 있더라고 NL 조인 드라이빙 집합에서 Inner 쪽 집합으로서의 조인 액세스량이 많아 Random 액세스 부하가 심할 때

라고 합니다.

MySQL에서는 8.0 버전 이상 부터 해시 조인을 지원하고 있다고 합니다. [공식 문서에서 해시 조인에 대한 설명이 있으니 한번 읽어보셔도 좋을 것 같네요 :)](https://dev.mysql.com/doc/refman/8.0/e

[2020-12-14 09:47] ghost commented on #30
# 1. 메모리 기반의 테이블이란?

## 인메모리 테이블이란?

- 메모리와 디스크 양 쪽의 복사본이 있는 테이블

### 장점

- 일반 테이블과는 다르게 업데이트된 데이터 행의 어떤 버전에도 잠금이나 래치를 적용하지 않는다.
    - 낙관적 접근 방식 사용
    - contention(경합)을 줄이고 트랜잭션을 기하급수적으로 빠르게 처리할 수 있다.
    - 잠금 대신 메모리 내에서 버전을 사용하여 트랜잭션이 커밋될 때까지 원래 행을 유지
    - 페이지가 없고 그저 행단위로 저장된다.

- 활성 메모리 내부의 속도에 최적화되어 워크로드에 따라 상당한 성능 향상!

- 임시 테이블을 처리하는 것보다 효율적으로 사용 가능하다.
- 왜 임시 테이블보다 인메모리 테이블이 더 효율적인가?

- 이런 테

[2020-12-14 11:06] #19 closed, assigned to nobody

[2020-12-14 11:07] #25 closed, assigned to lxxjn0

[2020-12-14 11:12] #27 closed, assigned to lxxjn0

[2020-12-14 11:14] #26 closed, assigned to jjj0611, lxxjn0

[2020-12-14 11:25] #29 closed, assigned to lxxjn0

[2020-12-15 00:19] toneyparky opened #31 "[5-5장] 최신 MySQL에서는 거리를 비교하는 Distance() 함수를 지원하는가."
질문 :
1. `MySQL 8` 버전대 혹은 그 이후의 최신 버전에서는 거리를 비교할 때에 `Distance() `함수를 지원하는지 궁금합니다.
2. 지원한다면 어떤 방식으로 구현되어있는지도 궁금합니다. (지원하지 않지만 구현할 경우에 대해서는 8장에 나온다네요)

[2020-12-15 01:01] toneyparky opened #32 "[5-6장] Fractal-Tree를 사용하는 다른 DBMS가 있는지 여부와 TokuDB의 동시성 성능 개선 여부"
질문 :
1. 책이 나온지 조금 오래 되었기에 이후에 `Fractal-Tree`의 저작권 문제가 해결되어, 혹은 저작권을 보유하는 `TokuTek`에서 다른 `DBMS`를 위한 스토리지 엔진을 만들었는지 궁금합니다.
2. `TokuTek`에서 제작한 `TokuDB`의 동시성 성능이 개선되어 `OLTP` 환경에 적용해서도 무리 없이 사용될 수 있는지, 아니면 그렇지 않고 지금까지고 `OLAP`나  `DW`에 특화되어 사용되는지 궁금합니다.

추가적으로 `Fractal-Tree`의 동시성이 안좋은 이유는 책 `p.241` 아랫부분부터 `p.242` 윗부분에 나오듯 인덱스 키가 추가, 삭제 될 때에 `B-Tree` 인덱스보다 더 많은 정렬 작업이 필요해서일까 싶네요.

[2020-12-18 07:54] giantim commented on #31
[MySQL 8 버전대 부터는 Distance 함수를 지원합니다.](https://dev.mysql.com/doc/refman/8.0/en/spatial-relation-functions-object-shapes.html)

- ST_Distance(g1, g2 [, unit])

[code]

쿼리의 형식과 예시는 위와 같습니다. 입력 인수 g1, g2는 Spatial Type의 데이터 값을 입력합니다. unit에는 세계 지구 좌표 시스템(WGS84)의 좌표계 범위나 도량형 값(meter, foot 등)을 입력해 단위를 변환합니다. 거리는 입력한 좌표의 직선 거리를 계산합니다.
WGS84의 좌표 범위 확인은 [이 문서](https://spatialreference.org/ref/epsg/4326/)를 확인

[2020-12-18 08:09] giantim commented on #32
2013년 쯤 저작권을 오픈소스화 했다고 합니다. 관계형 데이터베이스인 MySQL과 MariaDB 뿐만 아니라 NoSQL 스토리지 엔진([TokuMX](https://en.wikipedia.org/wiki/TokuMX)) 역시 만들었는데 해당 정보는 [Tokutek 깃헙](https://github.com/Tokutek?q=&type=&language=)에서 확인해 볼 수 있습니다.

동시성에 관한 이슈 역시 개선되어 OLTP 환경에서도 사용해도 된다 라는 [실험 결과를 공개](https://minervadb.com/index.php/2018/08/06/comparing-tokudb-rocksdb-and-innodb-performance-on-intelr-xeonr-gold-6140-cpu/)했습니다.

F

[2020-12-18 13:41] ghost commented on #30
### 래치란 무엇인가?

Latch란 **오라클**에서 Lock와 함께 잠금에 사용되는 장치이다.

### Lock과의 차이점
- Lock보다 가볍다.
- SGA 내부의 공유 데이터에 대한 배타적인 잠금을 보장하는 장치이다.
   - SGA는 오라클 내부에서 서버 프로세스들이 공유할 수 있는 공유 메모리이다.

### Lock의 특징
- 메모리 구조의 무결성을 유지하도록 하는 것
- 한 순간에 하나의 프로세스만이 latch를 보유할 수 있따.
- SGA에 접근하는 모든 프로세스는 반드시 해당 영역을 관장하는 Latch를 획득해야지만 접근이 가능

[2020-12-18 14:14] ghost commented on #30
### NL 조인이란?

- 2개 이상의 테이블에서 하나의 집합을 기준으로 순차적으로 상대방 row를 결합하여 원하는 결과를 조합하는 방식
- 먼저 선행 테이블의 처리 범위를 하나씩 액세스하면서 추출된 값으로 연결할 테이블을 조인한다.

쉽게 생각하면 아래와 같이 조인이 실행된다고 생각하면 된다.

[code]

선행 테이블(외부 테이블): 반복문의 외부에 있는 테이블
후행 테이블(내부 테이블): 반복문의 내부에 있는 테이블

### NL join 특징
- 선행 테이블에서 만족하는 행을 추출 후 후행 테이블을 읽으면서 조인 수행
- 선행 테이블에 만족하는 행의 수만큼 반복
- 선행 테이블의 만족하는 수만큼 조인이 반복됨으로 선행 테이블의 행의 수가 적은 것이 유리
- 랜덤 액세스 방식이기 때문에 처리 범위가

[2020-12-19 15:05] jjj0611 opened #33 "[5.5.2장] R-Tree에서 Contains 또는 Intersect 함수 사용"
요청 : Contains 예시를 보면 Contains(px, 사각상자) 이렇게 나오는데  `사각상자`에 어떤 방식으로 데이터가 들어가서 다각형을 다 지원할 수 있는지 궁금해요~ Contains를 직접 사용하는걸 보면 좋을 것 같아요~

[2020-12-19 15:11] jjj0611 opened #34 "[5.6장] Fractal-Tree 인덱스"
질문 : Fractal-Tree의 동작 원리에 대해서 자세한 언급이 없던 것 같아요. 어떻게 순차 I/O로 변환해서 처리할 수 있을까요? `p.242`에서 언급한 인덱스 키 값을 클러스터링 한다는 것과 관련이 있을까요? 만약 관련이 있다면 InnoDB에서도 클러스터링 키를 사용한다고 했는데, 그것과는 어떻게 다를까요? 그리고 그 변환 과정 때문에 Streaming B-Tree라는 이름이 붙은 이유가 뭘까요?

[2020-12-19 15:17] jjj0611 commented on #32
엇 이 문제를 어떻게 해결했을까요?

`p.243`을 보면 Fractal-Tree의 평균적인 능력이 B-Tree보다 400배 가량 빠르고 실제로 TokuDB의 키 추가 및 삭제 작업이 InnoDB보다 약 100배 가량 빠른 처리 속도를 보여준다고 했는데, 단일 스레드에서 성능이 좋지만, 잠금이 일어나기 때문에 혹은 더 많은 정렬 작업이 수행되어야 하기 때문에 멀티 스레드 환경에서는 성능이 더 안 좋을 수 있다는건데, 이 문제(잠금 + 많은 정렬 작업)를 해결한 방법이 궁금하네요 :)

[2020-12-19 15:26] jjj0611 opened #35 "[5.7장] 전문검색(Full Text Search) 인덱스를 많이 사용하는가?"
질문: 전문검색 인덱스를 읽으면 사실상 구분자는 거의 사용하지 않을거 같고 n-gram 방식만 사용할 것으로 보여요. 근데 여기서 중요한 것은 최소글자 수인 것 같아요. 인덱싱할 최소글자 수를 줄이게 되면 인덱싱되는 데이터가 많아져서 인덱스의 크기가 커질 것 같고, 최수글자 수가 커지면 원하지 않는 데이터 셋이 나올 수도 있을거 같아요. 보통 어떤 방식으로 사용할까요?

질문 2: 요새에도 이 전문검색 인덱스를 많이 사용하는지 궁금하네요. 이 글을 읽으면서 elastic search가 많이 떠올랐는데, 실제로 MySQL의 전문검색 인덱스를 걸어서 사용하는 경우가 많이 있는지, 그리고 가능하다면 elastic search는 어떤 방식(알고리즘)으로 인덱싱 하기에 검색을 구현할 때 많이 사용하는지 궁금하네요 :

[2020-12-19 15:29] jjj0611 opened #36 "[5.8장] 다른 DBMS에서의 함수기반 인덱스"
질문 : MySQL에서는 그냥 함수를 저장할 칼럼을 추가하고 그 칼럼에 인덱스를 생성한다(함수를 통해 값이 저장되든 아니든 그냥 인덱스가 걸리는거겠지?). 근데 다른 DBMS에서는 함수기반 인덱스를 조금 더 편하게 사용하는 것과 같이 이야기 하는데, 다른 DBMS에서는 함수 기반 인덱스가 어떻게 작동할까요?

질문 2: 위 장과 같이 다뤄지는 비트맵 인덱스에 대해서도 이야기 해보면 좋을 것 같아요 :)

[2020-12-19 15:35] jjj0611 opened #37 "[5.9.2장] 클러스터 키 값의 변경과 레코드의 변경"
질문 : 실제 레코드 주소가 저장된 주소를 가지고 있지 않고 클러스터 키 값(프라이머리 키)을 가지고 있다고 하더라도 변경해야하는건 동일하지 않나요?
`인덱스 - 저장된 주소`라면 클러스터 키 값이 변경되면(레코드 주소가 변경되기 때문에) 저장된 주소를 바꿔줘야 한다.
`인덱스 - 클러스터 키 값`이라면 클러스터 키 값이 변경되면(클러스터 키 값 자체가 변경됐기 때문에) 보조 인덱스의 값(클러스터 키 값)이 바뀐 것이므로 보조 인덱스의 값을 변경해야하는건 동일하지 않나요?

[2020-12-19 15:37] jjj0611 opened #38 "[5.9.3장] 레코드 주소를 사용할 때의 인덱스 크기"
질문 : 보조 인덱스에 클러스터 키가 아닌 레코드 주소가 저장될 때 그 주소 값의 크기는 몇일까요? 클러스터 키 값의 크기(어떻게 설정하느냐에 따라 다르겠지만 일반적으로 많이 설정하는 BIGINT와 비교해보면 좋을 것 같아요)와 얼마나 차이가 있을까요?

[2020-12-19 15:44] jjj0611 opened #39 "[5.11.1장] 자식 테이블의 변경이 대기하는 경우"
질문 : 커넥션 -1에서 현재는 UPDATE를 치고 있지만, 이게 DELETE 쿼리면 어떻게 될까요?
`DELETE tb_parent WHERE id=2;`를 하고, 5번에서 ROLLBACK이 아니라 COMMIT을 찍으면
4번에서 `UPDATE tb_childe SET pid=2 WHERE id=100;`에서 fk에 해당하는 record가 존재하지 않다고 예외가 발생할까요?
아니면 변경이 되고(pid=2로 바뀌고) CASCADE ON DELETE에 의해 해당 레코드가 삭제될까요?
아마 전자일 것 같은데, 테스트 해보면 재밌을 것 같아요 :)

[2020-12-20 06:10] giantim commented on #34
Tokutek은 [percona](https://www.percona.com/)라는 회사에 합병되었습니다. 그래서 Fractal-Tree와 TokuDB에 관한 모든 자료는 percona의 홈페이지에서 검색했습니다.
[how fractal tree works](https://www.percona.com/blog/wp-content/uploads/2011/11/how-fractal-trees-work.pdf)라는 문서를 보고 Fractal Tree의 데이터 처리 과정을 정리한 내용입니다. 잘못된 점이 있다면 지적해주세요 :)

Fratcal Tree와 B-Tree의 노드의 차이점은 여러개가 있습니다. 먼저 각 노드의 크기자체가 다릅니다. B-Tree의 경우 16kb로 매우 작은 크기이지만 Fractal Tree

[2020-12-20 06:26] giantim commented on #32
[Concurrency Improvements in TokuDB v6.6 (Part 2)](https://www.percona.com/blog/2013/02/05/concurrency-improvements-in-tokudb-v6-6-part-2/)를 읽고 이해한 내용을 바탕으로 설명하겠습니다. 잘못된 내용이 있으면 지적해주세요 :)

읽기 동시성과 쓰기 동시성에 대해 나눠서 설명했습니다. 먼저 Fractal Tree의 구조를 알아야 하니 #34 이슈를 먼저 읽어주세요 :)

읽기 동시성의 경우 동일하지 않은 리프 노드에 있는 데이터를 읽을 때 쓰레드들은 최하위 리프 노드에 대한 독점 접근 권한만 얻으면 된다고 합니다. 그 상위의 공통 브랜치 노드의 경우에는 공통 접근 제어권을 가질 수 있어서 동시성 문제를

[2020-12-20 08:47] giantim commented on #33
예제는 MySQL 5.7로 진행합니다 :)

[MySQL 5.7에서 지원하는 공간 데이터 타입](https://dev.mysql.com/doc/refman/5.7/en/gis-geometry-class-hierarchy.html)에 대해 점과 다각형을 지원하도록 최상위 GEOMETRY 객체를 이용해 테이블을 만들어 보겠습니다.
[code]
아래 그림과 같이 예시 데이터를 만들어 보겠습니다.
<img src="https://user-images.githubusercontent.com/39546083/102708370-05abf980-42e6-11eb-8fab-1511f8a20c89.png" width="500">
[code]
문자열을 좌표계로 바꾸는 MySQL의 함수는 [여기](https://dev.mysql

[2020-12-20 16:52] yebink opened #40 "[5-10장] MySQL에서는 인덱스 없이 유니크 제약만 설정할 방법이 없다?"
질문 : unique 키워드를 걸면 인덱스 없이 유니크 제약만 설정할 수 있는 거 아닌가?

-> 사실 질문 쓰면서 답을 찾았는데 알게된 내용 공유하면 좋을 것 같아서 적어볼게.

![image](https://user-images.githubusercontent.com/19922698/102718870-f6e93500-432d-11eb-8fe8-d01bf38b7161.png)

`tb_unique` 테이블에는 color 컬럼에 `unique 키워드`를 달았고,
`tb_unique2` 테이블에는 color 컬럼으로 `unique index`를 만들었는데

왼쪽을 보면 두 테이블의 구조가 완전히 같아.

요약하자면, unique 키워드만 걸어도 unique index가 생성되는 것과 같은 효과를 내. 그래서

[2020-12-21 02:59] jnsorn commented on #37
### 수정중입니다

오 그렇게 생각할수도 있네요! 저도 궁금해져서 관련해서 좀 찾아봤는데, 명확한 답을 찾지는 못했어요. 그래도 찾은 내용을 공유해보도록 할게요.

우선 [MySQL docs](https://dev.mysql.com/doc/refman/8.0/en/innodb-index-types.html)를 먼저 찾아봤는데, Real MySQL 책과 비슷한 내용만 있더라고요.

All indexes other than the clustered index are known as secondary indexes. In InnoDB, each record in a secondary index contains the primary key columns for the row, as well as the colum

[2020-12-21 03:33] jnsorn commented on #37
좋은 질문이네요!

우선 보조 인덱스의 값은 클러스터링 인덱스의 존재 여부에 따라 칼럼 값이 다르게 저장됩니다.

## 클러스터링 인덱스 존재하지 않을 경우
보조 인덱스의 컬럼 값은 `데이터페이지의 번호#오프셋`이 됩니다.

<img width="547" alt="스크린샷 2020-12-21 오전 11 24 05" src="https://user-images.githubusercontent.com/31095063/102764477-8a6a4680-43be-11eb-9562-665f7edb3667.png">

## 클러스터링 인덱스 존재할 경우
보조 인덱스의 컬럼 값은 `클러스터 키`가 됩니다.

![image](https://user-images.githubusercontent.com/310

[2020-12-21 05:10] giantim commented on #35
### 질문 1
이 질문에 대해서는 정확한 답변을 못 드리겠네요. 전문 검색 인덱스와 n-gram 인덱싱에 대해서 검색을 해봤는데 이 기술을 적용한 어떤 도메인에 대한 베스트 프랙티스가 나오기 보다는 어떤 방식으로 사용하는지에 대한 글들밖에 찾지 못했습니다. 검색을 통해서 알게된 몇가지 정보에 대해서만 간략하게 정리해 드릴께요 :)

전문 검색 인덱스를 적용하는 경우는 ```LIKE 구문을 통해서 검색하는 것 보다 성능을 높이기 위해서``` 라고 합니다. WHERE절에 LIKE를 이용해 문자열을 검색하면 해당 문자가 포함되는 것이 있는지 풀 테이블 스캔을 하기 때문에 이런 비용을 낮추기 위해 인덱스를 만들어서 검색을 수행한다고 합니다.
사용법에 관한 예제는 [이 문서](https://www.digitaloc

[2020-12-21 05:16] giantim commented on #40
오 굿굿!
숟가락 살짝 얹을께요. 테이블 생성하고 인덱스 생성 결과입니다 :)

[code]

**tb_unique**
![image](https://user-images.githubusercontent.com/39546083/102741959-10729700-4397-11eb-9bdb-2260784c233b.png)

**tb_unique2**
![image](https://user-images.githubusercontent.com/39546083/102741971-19fbff00-4397-11eb-97ca-29ba8db97eba.png)

NULL 컬럼에 YES로 설정된 모습이네요!

[2020-12-21 06:13] giantim commented on #36
### 질문 1
[MySQL 8.0 부터 함수 기반 인덱스를 지원하네요!](https://dev.mysql.com/doc/refman/8.0/en/create-index.html#create-index-functional-key-parts)
간단한 예시에 대해서는 [여기](http://minsql.com/mysql8/B-3-C-functionBasedIndex/)를 참고해주세요.

그럼 저희가 사용하는 MySQL 5.7에서는 어떤 방식으로 함수 기반 인덱스를 지원할까요? [Virtual Columns in MySQL and Use cases.](https://mydbops.wordpress.com/2017/07/19/virtual-columns-in-mysql-and-use-cases/)를 읽고 정리한 내용

[2020-12-21 07:12] giantim commented on #39
작업번호 2번의 쿼리를 DELETE로 변경하고 작업번호 5번을 ROLLBACK이 아닌 COMMIT으로 데이터를 삭제했을 때 작업번호 4번이 어떤 동작을 하는지 살펴보겠습니다 :)
[code]

테이블을 생성하고 DataGrip을 이용해 두 개의 커넥션을 생성한 후 작업번호의 순서에 맞게 쿼리를 실행하겠습니다.
다음과 같은 에러가 발생하네요.
**Cannot add or update a child row: a foreign key constraint fails (`rms`.`tb_child`, CONSTRAINT `child_ibfk_1` FOREIGN KEY (`pid`) REFERENCES `tb_parent` (`id`) ON DELETE CASCADE)**

위 에러는 tb_child의 row의 pid

[2020-12-21 09:29] jjj0611 commented on #33
[code]
이렇게 사각상자를 넣어줄 수 있다는 말이군요?
답변 감사해요~~~

[2020-12-21 09:45] jjj0611 commented on #35
n-gram 관련 참고 문서 3번째(InnoDB 전문 검색 : N-gram Parser)를 보면 일반적으론 2를 사용한다네요 :)
multi-gram index의 경우는 min과 max token 사이즈를 줘서 사용을 하나보네요!

n-gram  방식에서 조사를 지원한다는게 언어에 따라서 지원을 해주게 되는건가요?
조사 같은 문제로 n-gram의 정확도가 떨어질 것 같다는 생각을 했는데 지원해주는 방식이 있나보네요.
혹시 이것과 관련한 것을 참고 문서에서 찾지 못했는데 혹시 어디서 찾았는지 공유 가능할까요~??

[2020-12-21 09:52] jjj0611 commented on #36
오 8.0부터 지원하네요 :)
좋은 자료 감사합니다~!

[2020-12-21 09:58] jjj0611 commented on #40
추가는 아니고 null 중복 방지는 그냥 not null로만 해야할 것 같아요(정확한 중복 방지는 아니지만)
보통 어떤 데이터 셋에서 한 칼럼에 null 값이 하나만 들어간다! 이런 경우는 거의 없으니 null을 허용하지 않는 방향으로 가는게 좋을 것 같네요!
null이 중복될 수 있다는건 어짜피 해당 데이터(null)는 의미가 없는 데이터라는 거니 중복이 되어도 크게 의미가 없을 것 같아요!

[2020-12-21 10:01] giantim commented on #35
[이분](https://gywn.net/2017/06/mysql_57-ngram-ft-bug-and-learn/)이 테스트 하셨는데 초기에 성능 문제가 있었다고 하네요!

[2020-12-21 10:24] toneyparky commented on #33
지도와 관련한 지식이 차곡차곡 쌓이네요~👏👏👏👏👏

[2020-12-21 10:30] toneyparky commented on #35
Elastic Search는 공부하고 있는 유안의 첨언이 있다면 좋겠네요~

[2020-12-21 10:40] jnsorn commented on #38
우선 간단하게 말하자면

* MySQL의 BIGINT는 8 bytes
* 보조 인덱스의 레코드 주소는 페이지번호+#offset

의 크기를 갖고 있습니다.

실제로 각각의 경우에 대해 실행시켜보겠습니다.

[code]

![image](https://user-images.githubusercontent.com/31095063/102770011-c86b6880-43c6-11eb-86c7-1010b06817c1.png)

이런 결과를 확인할 수 있습니다. 왜 아래 클러스터 키값은 인덱스 크기가 안나올까요? 스터디 시간에 같이 알아보기로 합니다!

[2020-12-21 11:24] #31 closed, assigned to giantim

[2020-12-21 11:24] #32 closed, assigned to giantim

[2020-12-21 11:24] #33 closed, assigned to giantim

[2020-12-21 11:24] giantim commented on #34
조회 명령을 어떻게 순차 I/O로 처리하는지 다시 찾아보면 좋을 것 같네요 :)

[2020-12-21 11:30] #36 closed, assigned to giantim

[2020-12-21 11:35] #39 closed, assigned to jnsorn

[2020-12-21 11:50] #37 closed, assigned to jnsorn

[2020-12-21 12:16] #35 closed, assigned to giantim

[2021-01-02 07:52] #28 closed, assigned to lxxjn0

[2021-01-02 08:08] lxxjn0 opened #41 "[7.3.1장] 문자 칼럼을 숫자와 비교할 때"
질문 :

1. 문자열 칼럼을 숫자와 비교할 경우 인덱스를 타지 않는 것
2. 만약 문자열 칼럼의 레코드 중 숫자로 변경 불가능한 레코드가 있을 경우 쿼리가 실패하는 것

이 두 경우에 대한 실행 화면을 보여주면 좋을 것 같아요~~ :)

[2021-01-02 08:12] lxxjn0 opened #42 "[7.3.3장] UNIX_TIMESTAMP 함수의 시간 기준"
질문 : 중요한 질문은 아닌데 왜 1970년 1월 1일이 timestamp의 기준인지 너무 너무 궁금해요~~

[2021-01-02 09:44] giantim commented on #42
1970년 1월 1일 00:00:00 부터 지금 까지의 시간을 [유닉스 시간](https://ko.wikipedia.org/wiki/%EC%9C%A0%EB%8B%89%EC%8A%A4_%EC%8B%9C%EA%B0%84)이라고 한다네요! 이것은 [협정 세계시](https://ko.wikipedia.org/wiki/%ED%98%91%EC%A0%95_%EC%84%B8%EA%B3%84%EC%8B%9C)를 유닉스계열에서 표현하는 것이라고 합니다.

1970년이 기준이 된 이유는 단순하게 [이 글의 첫번째 답변을](https://www.quora.com/Why-does-epoch-time-start-with-January-1-1970) 확인하시면 될 것 같네요! 요약하자면 원래 매뉴얼상에 1971년 1월 1일 00:00

[2021-01-03 07:15] giantim commented on #41
## 질문 1
먼저 다음과 같이 테이블을 하나 만들께요.
[code]

그 다음에 line 칼럼을 보조 인덱스로 등록해주겠습니다.
[code]
![image](https://user-images.githubusercontent.com/39546083/103473193-26417c80-4dd9-11eb-80eb-d05366cfc73d.png)

문자열 칼럼을 숫자와 비교하는 실행 계획을 확인해보겠습니다.
[code]
![image](https://user-images.githubusercontent.com/39546083/103473198-483aff00-4dd9-11eb-8cb4-eafad02d9e7e.png)

~정상적으로 인덱스를 사용하고 있네요? 🤔~
위 그림에서 type 칼럼 값을 보면 ```inde

[2021-01-04 12:07] #42 closed, assigned to giantim

[2021-01-10 14:19] lxxjn0 opened #43 "[7.4.3장] NULL 비교를 할 때 인덱스를 타지 못하는 경우"
질문 : 여기서 세 번째와 네 번째 쿼리가 인덱스를 사용하지 못하는 게 앞에서 나온 것 처럼 비교할 칼럼의 값을 변경해서 인덱스를 사용하지 못하는 거 맞나요??

[2021-01-10 14:24] lxxjn0 opened #44 "[7.4.6장] 뮤텍스 테이블을 사용한 FULL OUTER JOIN"
질문 : 여러 개의 아우터 조인을 연속해서 하는 부분이 잘 이해가 안돼요.. 😥 어떤 식으로 해당 쿼리가 진행되는지 같이 이야기 나눠보면 좋을 것 같아요!!

[2021-01-10 14:32] lxxjn0 opened #45 "[7.4.6장] 지연된 조인의 예제 쿼리에 대한 설명"
질문 : 위 쿼리에 대한 실행 계획에서 조인할 때 salaries 테이블의 4개의 row만 읽는 부분이 이해가 잘 안가요..ㅜㅜ

[2021-01-10 14:34] pci2676 commented on #43
네 맞아요 결국 WHERE 절에 쓰이는 조건은 `ISNULL()` 함수를 통해 변형된 값이라서 인덱스를 활용하지 못한다고 봐야할 것 같습니다.

[2021-01-11 11:07] #43 closed, assigned to nobody

[2021-01-11 11:47] #41 closed, assigned to giantim

[2021-01-11 11:48] #30 closed, assigned to nobody

[2021-01-11 13:02] pci2676 commented on #44
mutex
|no|
|---|
|0|
|1|

event1

|year|
|---|
|201102|
|201103|

mutex - event1
|no|year|
|---|---|
|0|**201102**|
|0|**201103**|
|1|**null**|

news

|year|
|---|
|201103|
|201104|

mutex - event1 - news

|no|e1.year|n.year|
|---|---|---|
|0|201102|**null**|
|0|201103|**201103**|
|1|null|**201103**|
|1|null|**201104**|

event2

|year|
|---|
|201102|
|201103|

mutex - event1 - news - event2

|no|e

[2021-01-11 13:02] #44 closed, assigned to nobody

[2021-01-11 13:03] pci2676 commented on #45
통계자료에 기반한 row라서 정확하다고 볼수 없지만 참고하여 이정도 양의 루프가 실행되겠구나 하고 추측할 수 있는 자료입니다.

[2021-01-11 13:03] #45 closed, assigned to nobody

[2021-01-11 16:34] yebink commented on #8
`p.443~444` 에 보면, **드리븐 테이블에서는 인덱스 탐색 작업과 스캔 작업을 드라이빙 테이블에서 읽은 레코드 건수만큼 반복한다**고 되어 있다. 즉, 드라이빙-드리븐이 1:1로 조인되더라도, 드리븐 테이블을 읽는 것이 훨씬 큰 부하를 차지한다는 것이다.
그래서 **옵티마이저는 항상 드라이빙 테이블이 아닌, 드리븐 테이블을 최적으로 읽을 수 있게 (ex. 인덱스를 탄다거나~) 실행 계획을 수립한다.**

[2021-01-11 16:34] #8 closed, assigned to yebink

[2021-01-12 01:23] toneyparky opened #46 "[7-4-8장] 복수 개의 컬럼을 각각 다른 방향으로 ORDER BY할 경우 인덱스 활용은 최신 MySQL 버전에서도 지원하지 않는가"
질문 :
책은 5.x 초반 버전을 사용하고 있고 당시에는 책의 설명대로 정렬 방향이 혼용되었을 경우에 인덱스를 사용할 수 없는데요.
이후의 버전에서는 이 부분이 개선되었는지 궁금합니다.

[2021-01-12 01:36] toneyparky commented on #46
[MySQL 8.0 문서](https://dev.mysql.com/doc/refman/8.0/en/order-by-optimization.html)를 참고해보면 질문해주신 부분에 대해서 `Optimizer`가 최적화를 시켜서 인덱스를 활용할 수 있도록 처리한다는 부분을 확인할 수 있습니다.

If a query mixes ASC and DESC, the optimizer can use an index on the columns if the index also uses corresponding mixed ascending and descending columns:
[code]

다만 문장을 해석해보면 `Optimizer`는 제한된 최적화만 수행할 수 있습니다.

위의 경우에서 `key_part1`은 내림차순

[2021-01-13 02:10] toneyparky opened #47 "[7-4-8장] 최신 MySQL에서는 함수를 이용한 인덱스(Function based index)를 지원하는가"
질문 : 책은 MySQL 버전 5.x대를 다루고 있습니다. 유용한 기능으로 보이는데 저 버전에는 지원하지 않네요. 최신 버전에서는 함수를 이용한 인덱스를 지원하는지 궁금합니다.

[2021-01-13 02:11] giantim commented on #47
#36 이 내용이랑 같은 질문 아닌가요?

[2021-01-13 02:12] toneyparky commented on #47
오 이미 다뤘던 내용이네요.
고맙습니다
이슈는 바로 닫을게요~

[2021-01-13 02:12] #47 closed, assigned to toneyparky

[2021-01-14 01:52] giantim opened #48 "[7-4-9장] 서브 쿼리의 실행 순서"
[code]

질문 : 상관 서브 쿼리가 왜 FROM 절에서 사용되지 못하는지 설명부탁드려요! 쿼리의 실행 순서와 관계가 있는 건가요? :)

[2021-01-14 01:58] giantim opened #49 "[7-4-9 장] MySQL 5.7에서 WHERE 절의 서브 쿼리의 최적화 변경"
책에서 소개한 아래 두 가지 쿼리는 MySQL 구버전에서 실행한 쿼리여서 제대로 최적화가 안되었습니다. 우리가 스터디에서 사용하는 MySQL 5.7에서 쿼리의 실행 계획을 살펴보면 책에서 설명한 것과 다르게 최적화가 되어서 나타납니다. 바뀐 결과에 대해서 다같이 분석해보면 좋을것 같아요 :)

[code]

[code]

[2021-01-15 08:10] toneyparky commented on #48
# [TL;DR](https://ko.wikipedia.org/wiki/TL;DR)

- `Outer 쿼리`를 평가(evaluate)하기 위해서는 FROM 절의 테이블이 필요합니다. 하지만 `FROM 절 안의 상관 서브 쿼리`는 `outer 쿼리`가 평가되기 전에는 평가될 수 없습니다.
- 서로 조건이 상충되기 때문에 상관 서브 쿼리가 FROM 절에서 사용되지 못합니다.
- 다만 몇몇 DBMS(PostgreSQL, ...)에서는 이를 허용해주기도 한다고 하네요.

### 참고

- `Outer 쿼리`
[code]

- `FROM 절 안의 상관 서브 쿼리`
[code]

---

# 구체적인 답변 도출 과정

[MySQL 5.7 공식문서](https://dev.mysql.com/doc/refman/5.7/en

[2021-01-16 00:36] toneyparky commented on #49
첫 번째 쿼리에 대한 5.1 버전의 실행계획입니다.
![image](https://user-images.githubusercontent.com/37579660/104791385-d5b91e80-57dd-11eb-9975-085e71560c68.png)

5.7 버전의 실행계획입니다.
![image](https://user-images.githubusercontent.com/37579660/104791409-e8cbee80-57dd-11eb-8df5-977b9ad85281.png)

두 번째 쿼리에 대한 5.1 버전의 실행계획입니다.
![image](https://user-images.githubusercontent.com/37579660/104791452-1749c980-57de-11eb-8988-c3921

[2021-01-24 09:55] jjj0611 commented on #46
인덱스를 역순으로 저장하는 것이 생겼고(원래는 음수화 하여 저장한다든가 해야했는데),
저장된 인덱스의 순서를 전체의 방향성이 맞아진다면 인덱스를 활용할 수 있는 점(한 개라도 방향이 틀어지면 인덱스를 사용할 수 없는 점)은 동일하다고 보면 되겠네요!

[2021-01-24 10:06] jjj0611 commented on #48
상관서브쿼리란 내부의 쿼리에서 외부 쿼리의 테이블의 데이터를 참조하는 쿼리입니다.
[code]
여기에서
`SELECT * FROM dept_emp de WHERE de.dept_no=d.dept_no` 부분이 상관 서브쿼리죠.
하지만 여기서 사용하는 d.dept_no은 외부 쿼리의 테이블의 데이터를 참조해야 하는데 여기서 참조하는 d라는 테이블도 상관서브쿼리가 있는 FROM절에 같이 걸려 있기 때문이라고 생각해요.

외부 쿼리 테이블의 데이터를 참조하기 위해선 데이터가 조회된 상태여야 하는데, FROM절에 같이 걸려 있으면 해당하는 상태가 아니기 때문에 불가능하다고 생각합니다.

(요건 공식 문서에 있는 것이라기보단 저으 언어입니다~)

[2021-01-25 11:04] #46 closed, assigned to toneyparky

[2021-01-25 11:07] #48 closed, assigned to toneyparky

[2021-01-25 11:09] #49 closed, assigned to nobody

[2021-01-29 01:25] giantim opened #50 "[7-5장] LAST_INSERT_ID() 함수의 성능 개선"
질문은 아니고 책의 내용이랑 달라진 부분이 있어서 공유해요!

책에 나온 내용은 MySQL 5.7 버전에서는 개선이 되었네요 :)
다음과 같은 쿼리를 실행했을 때 동일하게 가장 최근에 AUTO_INCREMENT가 자동으로 증가시켜준 칼럼 값이 반환되게 됩니다.

[code]

두 번째 INSERT 쿼리에서 6이라는 id 값을 강제로 넣었으므로 책의 내용 대로라면 LAST_INSERT_ID() 값이 0을 반환해야 하지만 1을 반환하는 것을 알 수 있습니다 :)
![image](https://user-images.githubusercontent.com/39546083/106219192-3e5fbc80-621c-11eb-908b-aea702965b80.png)

[2021-01-29 11:04] yebink opened #51 "[7-5-1장] AUTO_INCREMENT 값 가져오기"
AUTO_INCREMENT 값을 조회할 때 `SELECT MAX(id) FROM ...` 이렇게 최댓값을 가져오는 방식은 현재 커넥션뿐 아니라 다른 커넥션에서 증가된 AUTO_INCREMENT 값까지 가져올 수 있으므로 사용하지 않는 것이 좋다.

질문 :
이 방식이 왜 나쁜지 이해가 안 갑니다. 오히려 다른 커넥션에서 증가시킨 가장 최신의 AUTO_INCREMENT 값이라면 저렇게 가져오는 것이 도 효율적이지 않나요?

[2021-01-30 14:44] lxxjn0 commented on #51
저도 그렇게 생각하긴 했습니다.. (관련된 내용이 이해가 안가서 찾아봐도 왜 좋지 않은지에 대한 글이 없더군요..)

그런데 한 번 직접 실행해봤습니다.

[code]

사실 테이블의 입장에서의 `auto_increment` 값을 생각하면 `select max(member_id) from ...`의 값이 올바른 값을 반환하는 것은 맞다고 생각합니다.

그런데 책에서 의도하는(이야기하는?) `auto_increment`의 값이란 테이블의 `auto_increment` 값이 아닌 커넥션에서의 마지막 `auto_increment` 값을 말하는 것 같습니다. 이런 가정에서는 `select max(member_id) from ...` 쿼리가 원하는 값을 반환하지 않기 때문이죠.

저는 책에서 말하는 가장 최신의 `a

[2021-01-30 14:45] lxxjn0 commented on #50
자이언트씨 감사합니다 :)

아 추가적으로 `insert` 쿼리에서 하나의 레코드만 추가하는 경우는 `last_insert_id()` 함수의 결과가 기대하는 값을 반환합니다.

그러나 `insert` 쿼리에서 여러 레코드를 추가하는 경우 `last_insert_id()` 함수의 결과가 (제가) 기대하는 값을 반환하지는 않았습니다.

저는 당연히 마지막 값인 6을 반환한다고 생각했는데 `insert` 쿼리가 실행하는 순간에서의 가장 최신의 `auto_increment` 값이 반환되는 것 같습니다.

[2021-01-31 17:13] yebink opened #52 "[7-5-2장] INSERT IGNORE"
질문 :
그런데 바로 아래에 PK나 UK 중복이 발생할 때 값이 저장되지 않는 경우라고 설명되어 있는데, 그럼 바로 위에서 예시로 든 로그성 테이블에서 사용해도 남겨야 할 로그가 저장되지 않는 것 아닌가요?

[2021-02-01 03:33] jnsorn commented on #52
넵 맞습니다. 저장 안 돼요.

`해당 레코드는 무시하고 작업을 계속 진행한다`와 `저장되지 않는다`를 같은 맥락으로 보고 이해하면 될 거 같아요.

남겨야 할 로그는 이미 존재하고, 이로 인해 중복 에러가 발생한 것이기 때문에 해당 INSERT문은 저장되지 않고 지나가도 문제가 없는거죠!

[2021-02-01 09:01] yebink commented on #52
아 이미 저장된 로그에 대해서 무시된다는 뜻이었군요!
제가 잘못 이해했던 것 같네요 감사합니다~

[2021-02-01 10:10] jnsorn commented on #52
저장된 로그에 대해 무시한다기 보다는 저장될 로그에 대해 무시한다는 표현이 더 맞는 것 같아요.
이미 동일한 로그가 저장되어 있으니 중복되는 레코드는 무시되는(저장되지 않는) 옵션 같아요!

[2021-02-01 10:26] jnsorn commented on #51
관리 측면에서 AUTO-INCREMENT 값은 테이블별로(즉, 여러 커넥션에서 증가된 값인 최종 값으로) 관리되는 게 맞지만 책에서는 로직이나 쿼리 작성 시 max를 지양하라는 의미로 받아들여집니다.

예를 들어, 하나의 커넥션이 시작되고 그 내에서 가장 마지막 레코드의 아이디를 가져와 그 값으로 다른 작업을 수행하는데 만약 max를 이용해 가져오게 된다면 그 사이에 수행된 다른 insert문에 의해 영향을 받을 수 있을 거 같아요.

그래서 로직이나 쿼리 작성 시 하나의 커넥션 안에서 안전하게 수행하기 위해 last_insert_id()를 사용하라고 하지 않았을까 생각합니다.

[2021-02-01 11:10] #50 closed, assigned to lxxjn0

[2021-02-01 11:22] #51 closed, assigned to lxxjn0

[2021-02-01 11:23] #52 closed, assigned to jnsorn

[2021-02-15 03:13] giantim opened #53 "[7-9-5장] FOUND_ROWS()가 항상 1을 반환하는 문제"
7.9.5 SQL_CALC_FOUND_ROWES 단원의 예제에서 SQL_CALC_FOUND_ROWS가 포함된 쿼리를 실행하고 FOUND_ROWS() 함수를 실행하면 먼저 실행한 쿼리의 총 결과 개수를 보여준다고 했습니다. 하지만 DataGrip에서 실행하면은 항상 FOUND_ROWS() 함수를 실행한 결과값이 1이 나옵니다.

이 문제에 대해서는 [여기](https://stackoverflow.com/questions/14847467/select-found-rows-return-1-in-mysql)의 두 번째 답변을 참고해주세요! IDE를 이용해 쿼리를 실행하면은 IDE가 쿼리 실행 이후에 추가적인 쿼리를 실행하기 때문에 FOUND_ROWS() 함수의 결과값이 1 또는 0 또는 에러가 발생할 수 있다고 합니

[2021-02-22 02:46] jnsorn commented on #53
역시 라빈 최고예요. 이슈 보고 IDE가 추가적으로 어떤 쿼리를 실행하는 건지 궁금해서 저도 테스트 해봤는데 참고할 사람은 참고하세요!
<img width="821" alt="스크린샷 2021-02-22 오전 11 44 04" src="https://user-images.githubusercontent.com/31095063/108650712-8ca66980-7503-11eb-8d49-22efdc966a10.png">
<img width="350" alt="스크린샷 2021-02-22 오전 11 45 03" src="https://user-images.githubusercontent.com/31095063/108650717-8f08c380-7503-11eb-89e0-0dacd

[2021-02-22 11:57] giantim commented on #53
질문이 추가로 들어왔는데요!
``IDE가 아닌 MySQL 서버에서 직접 쿼리를 실행했을 때는 어떤 쿼리가 추가적으로 실행되는가`` 입니다.

쿼리를 실행한 서버는 저희 스터디 도커 서버이고 쿼리문은 아래와 같습니다.
[code]

결과는 아래와 같습니다.
![image](https://user-images.githubusercontent.com/39546083/108704802-db79f080-754f-11eb-9c3d-0e24f6078471.png)
IDE와 달리 조회 쿼리 이외에는 아무런 추가적인 쿼리가 실행되지 않습니다.

하지만 경고를 하나 포함하고 있네요. 어떤 경고인지 알아보겠습니다.
![image](https://user-images.githubusercontent.com/39546083/108

[2021-03-02 04:44] #53 closed, assigned to nobody